<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Edit page</title>
	</head>
	<body>
		<h2>Edit corgi #<%= corgi.name %>!</h2>
		<form action="/<% corgi.id %>" method="post">
			Name: <input type="text" name="name" value="<%= corgi.name %>">
			Weight: <input type="text" name="number" value="<%= corgi.weight %>">
			color: <input type="text" name="color" value="<%= corgi.color %>">
			<input type="submit" name="edit this corgi!">
		</form>
		<a href="/">Home</a>
	</body>
</html>