<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Corgi Dashboard</title>
	</head>
	<body>
		<h2>Index Page</h2>
		<a href= "/new">Create a new Corgi!</a>

		<% for (idx in corgis) { %>
			<p>Name: <%= corgis[idx].name %> <a href="/<%= corgis[idx]._id %>/edit">Edit Corgi</a>
			<form action="/<%= corgis[idx]._id %>/delete/" method='post'>
        		<input type="submit" value="Delete">
      		</form>
			</p>
		<% } %>
	</body>
</html>
